<div class="header flex">
    <div class="header-left">
        <h1>POKEMON CARD SHOP</h1>
    </div>
    <div class="header-right">
        <form class="flex" action="/cards" method="GET">
            <input id="search1" name="name" type="text">
            <button type="submit">Search</button>
        </form>
    </div>
</div>