<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="mainPage.css">
    <link rel="stylesheet" href="card.css">
</head>

<body>
    <%- include('partials/header')  %>
    <div class="body grid">
        <%- include('partials/sidebar') %>
        <% if(locals.cards != undefined) { %>
            <div class="container flex">
                <div class="orderby">
                    <form id="orderByForm" action="/cards" method="GET">
                        <label for="orderBy">Sort By</label>
                        <input name="name" type="hidden" id="search2"/>
                        <select onchange=getSearch() name="orderBy" id="orderBy">
                            <option value="select">Select</option>
                            <option value="alphabetical">A-Z</option>
                            <option value="type">Type</option>
                            <option value="price">Price</option>
                        </select>
                    </form>
                </div>
                <div class="card-container grid">
                <% locals.cards.forEach((card) => { %>
                    <%- include('partials/card', {name: card.name, rarity: card.rarity, url: card.url, price: card.price, quantity: card.quantity, setID: card.set_id.toUpperCase(), setName: card.setname, id: card.id}) %>
                <% }) %>
                <% }  else { %>
                    <h2>Cards Not Found</h2>
                <% } %>
                        </div>
            </div>
    </div>
</body>
<script>
    const getSearch = (e) => {
        const searchParams = new URLSearchParams(window.location.search);
        const hiddenSearch = document.getElementById('search2');
        hiddenSearch.value = searchParams.get('name');
        const orderForm = document.getElementById('orderByForm');
        orderForm.submit();
    }
</script>
</html>