<div class="sidebar grid">
    <ul>
        <li>HOME</li>
        <li>ALL STOCK</li>
    </ul>
    <h2> TYPES </h2>
    <ul>
        <li>GRASS</li>
        <li>FIRE</li>
        <li>WATER</li>
        <li>LIGHTNING</li>
        <li>PSYCHIC</li>
        <li>FIGHTING</li>
        <li>DARKNESS</li>
        <li>METAL</li>
        <li>DRAGON</li>
        <li>FAIRY</li>
        <li>COLORLESS</li>
    </ul>
</div>