* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  margin: 1rem;
  justify-content: space-between;
}

.header input {
  padding: 0.5rem 1rem;
  width: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: 1px, black, solid;
  border-right: transparent;
}
.header button {
  padding: 0.5rem 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: 1px, black, solid;
  border-left: transparent;
}
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.body {
  grid-template-columns: 1fr 4fr;
  background-color: #f9f9f9;
}

.sidebar {
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  box-shadow: 0px 1px 2px 0px #00000033;
  padding: 1rem;
}
.sidebar a {
  font-weight: 500;
  font-size: 1.5rem;
  transition: transform 0.4s ease-in-out;
}
.sidebar a:hover {
  transform: scale(1.2);
}

.container {
  padding-top: 1rem;
  flex-direction: column;
}
